# Importy

In [4]:
import torch
import numpy as np
import pandas as pd
import torch.utils.data as data
import torch.nn as nn
from datasets import Dataset
from matplotlib import pyplot as plt
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [5]:
device = torch.device("cuda")

# Dane

In [6]:
df = pd.read_csv("../data/final_data.csv", delimiter=';')
df.drop(columns=['id'], inplace=True)
df.head()

,latitude,longitude,accommodates,bedrooms,beds,instant_bookable,bathrooms_num,amenity_Wifi,amenity_Kitchen,amenity_Hot water,...,neighbourhood_group_cleansed_Les Corts,neighbourhood_group_cleansed_Nou Barris,neighbourhood_group_cleansed_Sant Andreu,neighbourhood_group_cleansed_Sant Martí,neighbourhood_group_cleansed_Sants-Montjuïc,neighbourhood_group_cleansed_Sarrià-Sant Gervasi,bathroom_type_private,bathroom_type_shared,bathroom_type_unknown,price
0,41.409920,2.157330,2,1.0,2.0,0,1.5,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,150.0
1,41.397630,2.159340,3,1.0,1.0,1,1.0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,999.0
2,41.394798,2.165613,2,1.0,1.0,1,1.0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,200.0
3,41.399490,2.202610,2,1.0,1.0,0,1.0,0,0,0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,90.0
4,41.385080,2.155270,4,2.0,3.0,0,2.0,1,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,90.0

In [7]:
train=df.sample(frac=0.8,random_state=205)
test=df.drop(train.index)

X_train = torch.tensor(train.values[:, :-1], dtype=torch.float32)
y_train = torch.tensor(train.values[:, -1], dtype=torch.float32)

X_test = torch.tensor(test.values[:, :-1], dtype=torch.float32)
y_test = torch.tensor(test.values[:, -1], dtype=torch.float32)

train_dataset = data.TensorDataset(X_train, y_train)
test_dataset = data.TensorDataset(X_test, y_test)

train_loader = data.DataLoader(train_dataset, batch_size=64, shuffle=True, pin_memory=True)
test_loader = data.DataLoader(test_dataset, batch_size=64, shuffle=False, pin_memory=True)